body {
	padding: 0; 
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
header {
	
	padding: 2rem;
	background: #333;
	
} 
header div {
	display: flex;
	align-items: center;
	flex-flow: wrap;
	width: 80vw;
	margin: 0 auto;
}
#searchForm {
	margin: 0 auto;
	flex-basis: 20rem;
}
section {
	width: 80vw;
	margin: 0 auto;
}
input, button {
	padding: .7rem;
	border: none;
	font-size: 1rem;
}
button:hover {
	filter: invert(1);
}
#searchResults {
	padding: 2rem;
	margin-bottom: 2rem;
}
img {
	max-width: 100%;
}
h1 a {
	color: #fff;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
	padding: 1.5rem;
    margin: .5rem;
    box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.5);
	flex-basis: 17rem;
	background: #fff;
}
.card img {
	height: 10rem;
	object-fit: cover;
    width: 100%;
}
.text-center {
	text-align: center;
}
#loadMore {
	margin: 2.5rem 0;
	background: #aaa;
}